{{!-- Note: `templates/articles` is NOT nested within friends, despite 
      arrangement in the router. --}}

<table class="primary">
  <thead>
    <tr>
      <th>Description</th>
      <th>Notes</th>
      <th>Borrowed since</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    {{#each model as |article|}}
      {{!-- Using `save="save"` allows the save event to bubble. --}}
      {{articles/article-row article=article save="save" articleStates=possibleStates}}
    {{else}}
      <tr><td>No articles lent to this friend</td></tr>
    {{/each}}

    {{!-- The below is the pre-component implementation.
    {{#each article in model}}
      <tr>
        <td>{{article.description}}</td>
        <td>{{article.createdAt}}</td>
        <td></td>
        <td></td>
      </tr>
    {{/each}}
    --}}
  </tbody>
</table>